.play-container{
    background-color: #f9f9f9;
    padding-inline: 2%;
    padding-block: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 900px) {
    .play-container{
        padding-inline: 5%;
    }
}